# Ядро бота
aiogram==3.13.1

# Работа с базой данных
SQLAlchemy==2.0.35
asyncpg==0.29.0

# Валидация данных и конфигурации (.env)
pydantic==2.9.2
pydantic-settings==2.5.2

# Дополнительные утилиты (пригодится для генерации уникальных хэшей промо-ссылок)
cryptography==43.0.1

apscheduler==3.10.4
numpy==1.26.4
